.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  margin-right: 10px;
}

.component{
  margin:20px;
  padding:20px;
  border:2px solid
}


.App {
  font-family: sans-serif;
  text-align: center;
}
a {
  margin-right: 10px;
}

.component {
  margin: 20px;
  padding: 20px;
  border: 2px solid;
}

.btn {
  margin: 5px;
  padding: 5px;
  border: 2px solid;
}

.app-container {
  border: 3px solid blue;
}
.navbar {
  border: 3px solid red;
}

.authors {
  border: 3px solid red;
}

.author {
  border: 3px solid orange;
}

.books {
  border: 3px solid purple;
}

.book {
  border: 3px solid green;
}
